* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #cecece;
    height: 50px;
    margin: 12px 134px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.nav h1{
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    border: 1.5px solid black;
}

.login-button {
    display: flex;
    align-items: center;
}

.btn-header {
    padding: 10px 15px;
    background-color: #216bbb;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; 
    box-shadow: 5px 3px 0px 0px rgba(0, 0, 0, 1);
}

.btn-header:hover {
    background-color: rgb(245, 237, 237);
    color:#216bbb;
}

.container { 
    display: flex;
    width: 990px;
    padding-left: 133px;

}

.definition-1, .definition-2{
    width: 440px;
    height: auto;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.column1 .text, .column2 .text {
    margin-bottom: 20%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.concept1, .concept2 {
    width: 226px;
    margin-left: 114px;
}

.column1 .boton, .column2 .boton {
    margin-bottom: 20px;
}

.likes1, .likes2 {
    padding: 10px 24px;
    background-color: #ebc44b;
    color: black;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer; 
    box-shadow: 5px 3px 0px 0px rgba(0, 0, 0, 1);
    border: none;
}

.likes1:hover, .likes2:hover {
    background-color: black;
    color: white;
}

.own-definition{
    width: 192px;
    height: 120px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.own-definition h2{
    font-weight: normal;
}

.btn-bottom{
    padding: 10px 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #89a97a;
    color: black;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; 
    box-shadow: 5px 3px 0px 0px rgba(0, 0, 0, 1);
}

.btn-bottom:hover{
    background-color: black;
    color: #89a97a;
}